* {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: #111;
    border-radius: 4px;
    margin: 25px;
    padding: 34px;
}

h1 {
    text-align: center;
}

h2 {
    color: white;
    margin: 0px;
}

span {
    color: #febe01;
}

p {
    color: #b2b2b2
}

button {
    background-color: #febe01;
    border: none;
    border-radius: 4px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}